/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    max-width: 1200px;
}

.project-list {
    display: flex; /* Display projects in a row */
    flex-wrap: wrap; /* Allow wrapping if there are too many items */
    justify-content: space-between; /* Space out the projects */
}

.project-item {
    width: 45%; /* Adjust width to fit two items side by side with some margin */
    margin: 15px 0; /* Margin on top and bottom, smaller on sides */
    text-align: center;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
    overflow-x: hidden;
}

.about-me .text {
    flex: 1;
}

.about-me .image {
    flex: 0 1 auto;
    max-width: 100%;
    margin-top: 20px;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .about-me {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-me .text {
        flex: 1 1 60%;
    }

    .about-me .image {
        flex: 0 1 35%;
        margin-left: 20px;
        margin-top: 0;
        max-width: 350px;
    }
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; /* Hide all slides by default */
    position: absolute; /* Ensure slides are positioned absolutely */
    width: 100%;
    height: auto;
}

.active {
    display: block; /* Show active slide */
}

.slide img {
    width: 100%;
    height: auto;
}
